body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
}

.grid-number {
  height: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 31.25rem;
  height: 31.25rem;
}

.children {
  background: blue;
  display: flex;
  flex-grow: 1;
}

.xChildren {
  width: auto;
  height: auto;
  flex-grow: 1;
}

.xChildren:hover {
  background: red;
}