body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 700px;
}

.children {
  background: blue;
  display: flex;
}

.xChildren {
  background: red;
  width: 2px;
  height: 10px;
  flex-grow: 1;
}